*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(19, 27, 178);
}
h2{
    color:green;
}
p{
font: size 100%
}
p{ color: #000;
    border: 4px dotted green;
}

  
hr {
    border:2px dotted red;
}
   img{
    border: #09d90c solid 4px;
   max-width: 100%;
   box-sizing: border-box;

   } 
ul{
    list-style: circle;
}
#last{
    border: greenyellow solid 2px;
}
span{
    font-weight: 700;
    color: blue;
}
div{
    border: #000 solid 5px;
    width: 100%;
    margin-left:  20px;
    margin-top: 10px;
    margin-right: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;

}
#diva{
    border: #000 solid 3px;
    padding-top: 0;
    width: 90%;
    box-sizing: border-box;
}
#divb{
    border: #000 dotted 2px;
    width: 90%;
   

}
button{
    caret-color: #000;
}
